@model CategoryEditViewModel
@{
    ViewData["Title"] = "Категорії - Редагування";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var cat = Model.Category;
}

<h2>Редагування категорії</h2>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Category.Id" />

    <div class="mb-3">
        <label asp-for="Category.Title" class="form-label">Назва категорії</label>
        <input asp-for="Category.Title" class="form-control" />
        <span asp-validation-for="Category.Title" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Category.NewImage" class="form-label">Новий образ</label>
        <input asp-for="Category.NewImage" type="file" class="form-control" />
        <span asp-validation-for="Category.NewImage" class="text-danger"></span>
        <div class="form-check mt-2">
            <input asp-for="Category.DeleteCurrentImage" class="form-check-input" type="checkbox" />
            <label asp-for="Category.DeleteCurrentImage" class="form-check-label">Видалити поточне зображення</label>
        </div>
    </div>
    <div class="mb-3">
        <label asp-for="Category.NewIcon" class="form-label">Нова іконка</label>
        <input asp-for="Category.NewIcon" type="file" class="form-control" />
        <span asp-validation-for="Category.NewIcon" class="text-danger"></span>
        <div class="form-check mt-2">
            <input asp-for="Category.DeleteCurrentIcon" class="form-check-input" type="checkbox" />
            <label asp-for="Category.DeleteCurrentIcon" class="form-check-label">Видалити поточну іконку</label>
        </div>
    </div>

    <div class="mb-3">
        <label asp-for="Category.ParentCategoryId" class="form-label">Батьківська категорія</label>

        <select asp-for="Category.ParentCategoryId" class="form-select">
            <option value="">-- Немає --</option>
            @foreach (var item in Model.Parents.Where(c => c.Id != Model.Category.Id))
            {
                <option value="@item.Id" selected="@(Model.Category.ParentCategoryId == item.Id)">
                    @item.Title
                </option>
            }
        </select>

        <span asp-validation-for="Category.ParentCategoryId" class="text-danger"></span>
    </div>


    <div class="mb-3">
        <label asp-for="Category.DisplayOrder" class="form-label">Порядок відображення</label>
        <input asp-for="Category.DisplayOrder" class="form-control" />
        <span asp-validation-for="Category.DisplayOrder" class="text-danger"></span>
    </div>

    <div class="d-flex flex-column align-items-center gap-3 mt-4">
        <button type="submit" class="btn btn-primary btn-main">Зберегти зміни</button>

    </div>
</form>
<div class="d-flex flex-wrap gap-2 mt-4 justify-content-center justify-content-sm-between align-items-center">
    <form asp-controller="Categories" asp-action="Delete" method="post"
          onsubmit="return confirm('Видалити категорію?');" 
          class="d-inline-flex align-items-center justify-content-center flex-fill">
        <input type="hidden" name="id" value="@Model.Category.Id" />
        <button type="submit" class="btn btn-danger btn-primary-remove btn-main d-inline-flex align-items-center justify-content-center">
            <i class="bi bi-trash me-1"></i> Видалити
        </button>
    </form>
</div>
